%%%-------------------------------------------------------------------
%%% -*- coding: utf-8 -*-
%%% @author Nikita Roshchupkin
%%% @copyright (C) 2015, Eltex, Novosibirsk, Russia
%%% @doc
%%%
%%% @end
%%% Created : Jul 2015
%%%-------------------------------------------------------------------
{erl_opts, [
    debug_info,
    warn_export_all,
    warning_as_error,
    {i, "include"},
    {src_dirs, ["src"]}
]}.

{deps, [
    {lager, "2.1.1", {git, "https://github.com/basho/lager.git", {tag, "2.1.1"} }},
    {chronica, ".*", {git, "git@github.com:eltex-ecss/chronica.git"}}
]}.