%%%-------------------------------------------------------------------
%%% -*- coding: utf-8 -*-
%%% @author Nikita Roshchupkin
%%% @copyright (C) 2015, Eltex, Novosibirsk, Russia
%%% @doc
%%%
%%% @end
%%% Created : Jul 2015
%%%-------------------------------------------------------------------
[
    {chronica,[
        {rules,[
            {warning_file1,      "warning_tag1",    warning,    [warning_file1], off},
            {info_file1,         "warning_tag1",    info,       [info_file1], off},
            {debug_file1,        "warning_tag1",    debug,      [debug_file1], off},
            {trace_file1,        "warning_tag1",    trace,      [trace_file1], off}
        ]},

        {flows,[
            {warning_file1, [{file, "warning_log1"}]},
            {debug_file1, [{file, "debug_log1"}]},
            {trace_file1, [{file, "trace_log1"}]},
            {info_file1, [{file, "info_log1"}]}
        ]},

        {formats,[
            {default, "%Y-%M-%D %H:%Mi:%S.%Ms %PRIORITY %Pid [%Module:%Function:%Line]: %Message"}
        ]},

        {active, true},
        {rotate_at_start, false},
        {detail_info, false},
        {log_root, "log/<Year>_<Month>_<Day>_<Hour>_<Minute>_<Second>_<Node>"},
        {max_file_size, 10485760},
        {max_file_num, 5},
        {auto_testing, false},
        {sync, false}
    ]},

    {lager, [
        {log_root, "log/lager"},
        {handlers, [
            {lager_file_backend, [
                {file, "log/lager/debug.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
            {lager_file_backend, [
                {file, "log/lager/info.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
            {lager_file_backend, [
                {file, "log/lager/notice.log"}, {level, notice}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
            {lager_file_backend, [
                {file, "log/lager/warning.log"}, {level, warning}, {size, 10485760}, {date, "$D0"}, {count, 5}]}
        ]}
    ]},

    {sasl, [
         {sasl_error_logger, false}
        ]}

].